
@{
    ViewData["Title"] = "O Nama";
}
<div class="ONamaContainer">
    <br />
    <center><h2>eRestoran </h2></center>
    <div class="containerChildONama">
        <div class="imageONama">
            <img src="/images/about-us.jpg" style="width:350px; border-radius: 10px;">
        </div>
        <div class="textONama">
            <p>
                eRestoran raspolaže predivnim ambijentom, imate širok odabir sala za ručak, večeru, ili pak za piće. Imamo i VIP ložu namijenjenu za posebne potrebe i za posebne klijente. Naša najpoznatija sala je 'Kamin sala' u središtu našeg restorana sa najviše mjesta. Većina gostiju želi upravo ovaj dio restorana jer je naprometniji, ima najbolji ambijent, i naravno najbolju uslugu od najboljih konobara eRestorana.
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="containerChildONama">
        <div class="imageONama">
            <p style="font-size:20px;">
                U našem restoranu možete naručiti samo jela sa vrhunskim kvalitetom. Ona se prave prema posebnim receptima i sa posebnom pažnjom, tako da garantujemo slast i ukus svih naših jela sa ponude. Pored izvrsnog odabira jela za najukusniju večeru ili pak ručak imamo širok odabir naših najukusnijih vina iz našeg podruma. Dođite i uvjerite se, želimo vam dobar tek!
            </p>
        </div>
        <div class="textONama">
            <img src="/images/about-us1.jpg" style="width:350px; border-radius: 10px;">
        </div>
    </div>
    <br />
    <br />
    <div class="containerChildONama">
        <div class="imageONama">
            <img src="/images/about-us3.jpg" style="width:350px; border-radius: 10px;">
        </div>
        <div class="textONama">
            <p>
                Pored svega navedenog izdvajamo i našu prelijepu terasu sa pogledom na Stari Most. Naš restoran je smješten u jezgri Starog Grada u Mostaru gdje možete sresti posjetioce iz cijelog svijeta. Pored fantastičnih odabira sala unutar restorana, kao i fantastičnog odabira jela i pića možete odabrati i ručak/večeru na prelijepoj terasi koja oduzima dah pogledom na Stari Most! Uživajte!
            </p>
        </div>
    </div>
    <br />
    <div class="kontakt" style="padding-bottom:50px;">
        <center><h2>Kontakt</h2></center>
        <dl class="row" style="padding-left:30px;">
            <dt class="col-sm-2" style="padding-top:20px;">
                Email:
                <br />
            </dt>
            <dd class="col-sm-10" style="padding-top:20px;">
                erestoran@erestoran.com
                <br />
            </dd>
            <dt class="col-sm-2" style="padding-top:20px;">
                Kontakt telefon:
                <br />
            </dt>
            <dd class="col-sm-10" style="padding-top:20px;">
                +387387387
                <br />
            </dd>
            <dt class="col-sm-2" style="padding-top:20px;">
                Fax:
                <br />
            </dt>
            <dd class="col-sm-10" style="padding-top:20px;">
                036-584-584
            </dd>
        </dl>
    </div>
</div>